{
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:prettier/recommended" // Make sure this is always the last element in the array.
  ],
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }]
  }
}
